/*
****** MAIN SCSS
****************/

/* Variables */

/* commons */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "nunito", sans-serif;
}

/* utilities */

/* header */

/* main */

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: 32%;
  margin-right: 1%;
  padding-bottom: 15px;
}

.card img {
  max-width: 100%;
  height: auto;
  display: block;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero img {
  width: 600px;
  height: 300px;
  display: block;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description p {
  width: 600px;
}

/* footer */

