/*
****** MAIN SCSS
****************/

/* Variables */

/* commons */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "nunito", sans-serif;
}

/* utilities */

/* header */

/* main */

/* footer */

