main{
    background-image: url("/images/fondo-pag-speciali.jpg");
    background-position: center;
    margin-top: 20px;
    padding-top: 50px;
}

h2{
    padding-left: 35px;
    padding-bottom: 20px;
}


.cards{
    display: flex;
    flex-wrap: wrap;
}




.card {
    flex-basis: calc(100% / 1);
    margin-right: 1%;
    padding-bottom: 15px;
    img {
        max-width: 85%;
        height: auto;
        display: block;
        margin-left: 35px;   
     }
}


.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
        width: 600px;
        height: 300px;
        display: block;
    }
}

.description{
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        width: 600px;
    }
}