.cards{
    display: flex;
    flex-wrap: wrap;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 15px 16px;
}


.card {
    flex-basis: 32%;
    margin-right: 1%;
    padding-bottom: 15px;
    img {
        max-width: 100%;
        height: auto;
        display: block;    }
}